.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card {
    margin-bottom: 10px;
}

pre.line-numbers {
    background-color: #f5f5f5; /* Light grey background */
    border: 1px solid #ddd; /* Add border */
    border-radius: 5px; /* Optional: round corners */
    padding: 10px; /* Padding around the code */
}

svg {
    margin-top: 20px;
}

#commitslist {
    max-height: 90vh;
    overflow-y: scroll;
}

.modelFile {
    font-size: 1.5em;
    font-weight: bold;
}

.svgdiff {
    overflow:scroll;
}

pre[class*="language-"] {
    max-height: calc(1.5em * 25); /* Assuming each line is about 1.5em in height */
    overflow-y: auto; /* Enable vertical scrolling */
}
